.form-control,
.AddProduct,
input {
	margin: 5px;
	width: 98%;
	align-items: center;
}
.form {
	margin-left: 15px;
}
h4 {
	text-align: center;
}

button {
	align-items: center;
	text-align: center;
}
