.header {
	display: flex;
	height: 70px;
	align-items: center;
	z-index: 1;
	justify-content: space-between;
	top: 0;
	flex: 1;
	background-color: rgb(231, 230, 230);
}
.header__logo {
	padding: 5px 20px;
	margin-top: 10px;
}
.header__search {
	align-items: center;
	width: 90%;
	margin-right: 10px;
}
.header__searchInput {
	border: 1px solid black;
}
.header__dropdown {
	position: absolute;
	align-items: center;
	overflow: auto;
	z-index: 100;
	display: flex;
	justify-content: space-between;
}
.header__searchlist {
	display: grid;
	height: 10rem;
	color: black;
	margin-left: -40px !important;
	
}
.list-group-item {
	color: black;
	
}
