.Header {
	display: flex;
	height: 50px;
	align-items: center;
	top: 0;
	z-index: 100;
}
.h3 {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}
.header__search {
	display: flex;
	flex: 1;
	align-items: center;
}
.header__searchInput {
	height: 40px !important;
	border: none;
	width: 95%;
	margin-top: 5px !important;
}
.form-control1 {
	border: none !important;
}

.dropdown {
	position: inherit !important;
	align-items: center;
	width: 98% !important;
	border-radius: 2px;
	color: black !important;
	overflow: auto !important;
}
.menu-item {
	height: 10px;
	display: flex;
	align-items: center;
	background-color: black !important;
	color: black !important;
	border-radius: 2px;
}
.list-group-item {
	color: black !important;
	padding: 15px !important;
	display: flex !important;
	justify-content: space-between !important;
}
h6 {
	color: black !important;
	padding: 0 !important;
	margin: 0 !important;
}
