* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.login-wrap {
	position: relative;
	margin: 6rem auto 8.1rem auto;
	background: #ffffff;
	width: 350px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgb(199, 192, 192);
	padding: 15px;
	display: grid;
	place-items: center;
}
h3 {
	text-align: center;
	font-weight: 200;
	font-size: 2em;
	margin: 2rem;
	color: black;
}

.login-wrap > h6 {
	margin-top: 50px !important;
	padding-bottom: 2px;
	color: grey !important;
}

.login-wrap > Button {
	border: 1px sol;
	color: white;
	font-size: 18px;
	font-weight: 200;
	margin: 1.5rem;
	cursor: pointer;
	transition: box-shadow 0.4s ease;
	text-transform: inherit !important;
}
.login-wrap > img {
	object-fit: contain;
	height: 130px;
	margin-top: 10px;
	text-align: center;
}
