.login {
	position: relative;
	margin: 6rem auto 8rem auto;
	width: 25em;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgb(199, 192, 192);
	padding: 15px;
	display: grid;
	place-items: center;
}
.login > img {
	object-fit: contain;
	height: 130px;
	margin-top: 10px;
	text-align: center;
}
.login > h3 {
	font-weight: 300;
	font-size: 3em;
	margin: 2rem;
	color: black;
}
.login > Button {
	color: white !important;
	font-size: 18px;
	font-weight: 200;
	margin: 1.5rem;
	cursor: pointer;
	transition: box-shadow 0.4s ease;
	text-transform: inherit !important;
}
.login > h6 {
	margin-top: 50px !important;
	padding-bottom: 2px;
	color: grey !important;
}
