@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400&display=swap');

.header {
	height: 80px;
	padding: 10px 0 10px 0;
	background-image: linear-gradient(#2d4e6b 30%, #497dac 60%, white 100%);
	display: flex;
}
@media screen and(max-width:600px) {
	.navItem__right .header {
		flex-direction: row;
	}
}

.menuIcon {
	margin-top: 7px;
	margin-left: 5px;
	color: white;
}
.header__logo {
	color: white;
	margin-left: 60px;
	margin-top: 15px;
	font-family: 'Josefin Sans', sans-serif;
}
.search__dropdown {
	overflow-y: auto;
	max-height: 17rem;
	margin-left: 7px;
}

.drawer {
	padding: 10px;
}
.drawer__item {
	display: flex;
	justify-content: flex-start;
	padding: 5px;
}
.drawer__item > h5 {
	padding-left: 5px;
	cursor: pointer;
}
.menuIcon {
	position: fixed;
	top: 1;
	left: 2;
	background-color: #2d4e6b;
	z-index: 200;
	border-radius: 7px;
	color: white !important;
}
.navItem {
	background-color: whiteSmoke;
	display: flex;
	justify-content: space-between;
	padding: 7px;
	border: 1px solid #2d4e6b;
	box-sizing: border-box;
}

.navItem__left {
	flex: 1;
	width: 80%;
} /* 
.navItem__right {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.navItem__listQty {
	flex: 50%;
	overflow: hidden;
	align-items: center;
	white-space: nowrap;
} */
/* @media screen and (max-width: 992px) {
	.navItem__listQty {
		flex: 1;
	}
} */
