.table {
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed !important;
	width: 100%;
	margin-bottom: 5rem !important;
}
.Pdf1,
Pdf {
	padding: 5px;
	margin-top: 20px;
}
.btn,
h1 {
	text-align: center;
	margin: 20px;
}
li {
	list-style: none;
}
ul {
	margin: 30px;
}
.bill {
	display: flex;
	justify-content: space-between;
	margin: 30px;
}
.ref {
	display: grid;
	width: auto;
	justify-content: space-evenly;
}
