.form-control,
.shop,
input {
	margin: 5px;
	width: 98%;
	align-items: center;
}
.shop__form {
	margin-left: 15px;
}
h4 {
	text-align: center;
	margin: 20px;
}
button {
	align-items: center;
	text-align: center;
}
